* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0%;
  background-image: url(/images/bg-pattern-bottom-desktop.svg);
  font-family: "League Spartan", sans-serif;
}

.titles {
  text-align: center;
}
